*{
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  padding-top: 44px;
}
.container{
  max-width: 1200px;
  margin: auto;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
input{
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left 11px center;
}
.address-input{
  flex: 0.8;
  height: 40px;
  background-image: url(../img/home.svg);
}
.button{
  padding: 8px 16px;
}
.button-primary{
  color: #FFFFFF;
  border: 1px solid #D9D9D9;
  background: #1890FF;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  margin-right: 10px;
}
.button-shopping{
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.button-icon{
  margin-right: 4px;
  vertical-align: middle;
}
.button-text{
  vertical-align: middle;
}
.button-card-text{
  margin-right: 10px;
}
.button-card-img{
  vertical-align: middle;
}
.main{
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.promo{
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/pizza.jpeg) no-repeat top -100px right -247px / 924px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}
.promo h1{
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
  margin-bottom: -7px;
}
.promo p{
  font-style: normal;
  font-weight: normal;
  color: #302C34;
  font-size: 24px;
  line-height: 28px;
  max-width: 538px;
}
.restaurants{
  padding-bottom: 100px;
}
.restaurants-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;
}
.restaurant-heading{
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.restaurants-title{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
}
.restaurant-title{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin: 0;
  margin-right: 30px;
}
.input-restaurants{
  width: 306px;
  height: 34px;
  background-image: url(../img/search.svg);
}
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.cards a{
  text-decoration: none;
}
.card{
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  flex-basis: 31%;
}
.card-image{
  width: 384px;
  height: 250px;
  object-fit: cover;
}
.card-image-product{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-text{
  padding: 20px 18px 35px 18px;
}
.card-buttons{
  display: flex;
  align-items: center;
}
.card-heading{
  display: flex;
  align-items: center;
  line-height: normal;
  justify-content: space-between;
}
.card-title{
  margin: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}
.card-title-reg{
  font-weight: normal;
  font-style: normal;
  margin-bottom: 10px;
}
.card-tag{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  background: #262626;
  border-radius: 2px;
  padding: 1px 8px;
}
.card-info{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card-info-product{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.rating{
  margin-right: 26px;
  color: #FFC107;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
.rating-img{
  margin-right: 7px;
}
.category{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 150px;
}
.ingredients{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #8C8C8C;
  margin-bottom: 25px;
}
.product-price{
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  margin-left: 25px;
}
.card-title-reg,
.ingredients{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre-wrap;
  max-width: 384px;
}
.price, .category{
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.price:after{
  content:"";
  width: 5px;
  height: 5px;
  background: #8C8C8C;
  display: inline-block;
  vertical-align: middle;
  border-radius:50%;
  margin-right: 10px;
  margin-left: 10px;
}
.footer{
  padding: 60px 0px;
}
.footer-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav{
  margin-right: auto;
  margin-left: 35px;
}
.footer-link{
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #595959;
  display: inline-block;
  text-decoration: none;
}
.footer-link:not(:last-child){
  margin-right: 15px;
}
.social-links{
  display: flex;
  align-items: center;
}
.social-link:not(:last-child){
  margin-right: 21px;
}





@media (max-width: 1366px){
  .container{
    max-width: 960px;
  }
  .promo{
    background-size: 750px;
    background-attachment: center right -300px;
  }
  .rating{
    margin-right: 15px;
  }
  .category, 
  .price{
    font-size: 14px;
  }
  .restaurants{
    padding-bottom: 40px;
  }
  .footer {
    padding: 30px;
  }
}

@media (max-width:992px){
  .container{
    max-width: 750px;
  }
  .promo{
    padding:50px;
    background-size:500px;
    background-position: center right -200px;
  }
  .promo p{
    font-size: 18px;
    max-width: 400px;
  }
  .card{
    flex-basis: 49%;
  }
  .restaurants{
    padding-bottom: 15px;
  }
  .footer{
    padding: 20px;
  }
  .social-link:not(:last-child){
    margin-right: 11px;
  }
}

@media (max-width:768px){
  .container{
    max-width: 560px;
  }
  .promo{
    background-size: 400px;
    background-position: bottom 50px right -200px;
  }
  .promo h1{
    font-size: 24px;
    line-height: 1.4;
  }
  .promo p{
    margin-top: 5px;
  }
  .card-info{
    flex-wrap: wrap;
  }
  .card .rating{
    flex-basis: 100%;
  }
  .card-title{
    font-size: 18px;
  }
  .card-text{
    padding: 10px 10px 15px 10px;
  }
}

@media (max-width:578px){
  .container{
    width: 90%;
  }
  header{
    flex-wrap: wrap;
    justify-content: center;
  }
  .address-input{
    order: 5;
    margin-top: 10px;
    flex: 1;
  }
  .promo{
    background-image: none;
    padding: 10px;
    margin-bottom: 20px;
  }
  .promo h1{
    margin-bottom: 10px;
  }
  .restaurants-title{
    font-size: 20px;
    margin-right: 5px;
  }
  .card{
    flex-basis: 100%;
  }
  .card-image{
    width: 100%;
  }
  .footer-nav{
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
  }
  .footer-logo{
    
    margin-right: 15px;
  }
  
  .social-link:not(:last-child){
    margin-right: 3px;
  }
  .footer-block{
    align-items: flex-start;
  }
}

@media (max-width: 480px){
  .footer-block{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo{
    margin-bottom: 20px;
  }
  .footer-nav{
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-link:not(:last-child){
    margin-right: 0px;
  }
  .restaurants-heading{
    flex-wrap: wrap;
  }
  .button{
    min-height: 40px;
  }
  .button-icon{
    margin: 0;
  }
  .button-text{
    display: none;
  }
  body{
    padding-top: 20px;
  }
}